@model BookDetailViewModel

@{
    ViewData["Title"] = "Detail " + Model.Title + ", door " + Model.Author;
}

<div class="row">
    <div class="col-md-12">
        <div>
            <form asp-controller="Book" asp-action="Persist" method="post">
                <div class="form-group">
                    <label asp-for="Title">Titel:</label>
                    <input type="text" asp-for="Title" placeholder="Titel van het boek."/>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreationDate">Aanmaakdatum:</label>
                </div>
                <div class="form-group">
                    <label asp-for="ISBN">ISBN:</label>
                </div>
                <input type="submit"/>
            </form>
        </div>
    </div>
</div>